img.circle {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0px 10px;
}

.dialogName{
    align-self: start;
    justify-self: end;
}

.dialogItem {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-bottom: 10px;
}

.dialogItem:hover{
  background-color: #6B6B6B7F;
  cursor: pointer;
}

.dialogItem.selected{
  background-color: #8e40af;
}

