body {}

.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px;
  height: 100vh;
}

.app-wrapper-content {
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: darkolivegreen;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}